[lustre-server]
name=CentOS-7.2 - Lustre
baseurl=https://downloads.hpdd.intel.com/public/lustre/lustre-2.8.0/el7.2.1511/client/
gpgcheck=0

[e2fsprogs]
name=CentOS-7 - Ldiskfs
baseurl=https://downloads.hpdd.intel.com/public/e2fsprogs/1.42.13.wc5/el7/
gpgcheck=0

[lustre-client]
name=CentOS-7.2 - Lustre
baseurl=https://downloads.hpdd.intel.com/public/lustre/lustre-2.8.0/el7.2.1511/server/
gpgcheck=0